.mathOperator {    
    width: 50px;

}

.mathOpLabel
{
    width: 50px;
    text-align: right;
}

.mathOpField
{
    margin-left: 3px;
    width: 50px;
    
}

.mathEval
{
    margin-left: 3px;
    width: 50px;
    border-style: outset;
    border-width: 3px;
    background-color: lightgray;
}