@model double
<div style="border-style:solid; border-color: silver; background-color: #0026ff; color: Yellow; font-family: monospace; font-weight: bold; width: 80px; text-align: right" >
    @Html.ValueFor(m => m)
</div>

