<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="mko.Db.Test.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <applicationSettings>
    <mko.Db.Test.Properties.Settings>
      <setting name="BackUpDir" serializeAs="String">
        <value>.\</value>
      </setting>
    </mko.Db.Test.Properties.Settings>
  </applicationSettings>
  <connectionStrings>
	  <add name="KeplerDBContainer"
		   connectionString="metadata=res://*/KeplerDB.csdl|res://*/KeplerDB.ssdl|res://*/KeplerDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\Projects;initial catalog=KeplerDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
		   providerName="System.Data.EntityClient" />


  </connectionStrings>
</configuration>