@model Calculator.Models.ContactData

<section>
    <header>
        @Model.FirstName &nbsp; @Model.Name
    </header>    
    <dl>
        <dt>Tel.</dt>
        <dd>@Model.Phone</dd>
        <dt>Email</dt>
        <dd>@Model.EMail</dd>
    </dl>
</section>
